PORT=5000
MONGODB_URL=mongodb+srv://example_db_user:example_db_password@cluster0.hvhc0.mongodb.net/example-db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=Development

#jwt secret key

JWT_ACCESS_TOKEN_SECRET=YourAccessTokenSecretHere
JWT_ACCESS_EXPIRATION_TIME=TIME


#BCrypt salt rounds
BCRYPT_SALT_ROUNDS=NUMBER_OF_ROUNDS


SSL_STORE_ID=your_store_id
SSL_STORE_PASSWORD=your_store_password
SSL_PAYMENT_API=your_payment_api
SSL_VALIDATION_API=your_validation_api
